.articles-cards{
  width: 10%;
  border-radius: 5px;
  margin: 20px;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  text-align: left;
  flex-direction: column;
  img{
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
  }
  h4{
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    margin-top: 5px;
  }
}