.topBar-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    .logo{
        color: #ffffff;
        width: 20%;
        letter-spacing: 2px;
        span {
            color: var(--main-color);
        }
        h1 {
            font-size: 24px;
            font-weight: 700;
        }
        h2 {
            font-size: 20px;
            font-weight: 800;
        }
    }
    .searchbar{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 60%;
        input{
            width: 50%;
            border: 1px solid rgba(255,255,255,0.6);
            padding: 10px;
            border-radius: 5px;
            font-size: var(--text-size);
            background: #1D1E2C;
            color: rgba(255,255,255,0.8);
            &::placeholder{
                color: rgba(255,255,255,0.8);
            }
        }
    }
    .profile{
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        .user{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            .user_information{
                h2{
                    color: #ffffff;
                    font-size: 15px;
                }
                h3 {
                    color: var(--main-color);
                    font-size: 13px;
                }
            }
            .user_image img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 20px;
            }
        }
    }
}

@media (max-width: 1260px) {
    .topBar-container{
        display: none;
    }
}