.container-stocks{
  width: 100%;
  h2{
    font-size: 22px;
    color: #ffffff;
    margin-left: 20px;
    span{
      color: var(--main-color);
    }
  }
  h3{
    font-size: 15px;
    margin-left: 20px;
    color: rgba(255,255,255,0.7);
  }
  .container-stocks-categories{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 30px 0;
  }
}