.categories-cards{
  width: 25%;
  margin: 20px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 35px 0;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  transition: all 0.5s ease;
  &:hover{
    background: var(--main-color);
  }
  h2{
    font-size: 18px;
    margin: 0;
  }
}