.sideBar-container {
    width: 15%;
    margin-right: 50px;
    ul{
        margin-left: 10px;
        li{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: rgba(255,255,255,0.7);
            margin: 15px 0;
            .icon{
                color: rgba(255,255,255,0.7);
                background: rgba(255,255,255,0.2);
                padding: 5px;
                font-size: 30px;
                border-radius: 5px;
                margin-right: 10px;
            }
        }
    }
    .active li .icon{
        background: var(--main-color);
        color: white;
    }
    h2{
        color: rgba(255,255,255,0.8);
        font-size: 18px;
        margin: 15px 0;
        letter-spacing: 3px;
    }
}
@media (max-width: 1260px) {
    .sideBar-container{
        display: none;
    }
}
